
a.scroll-top{
	color:white;
	background-color: var(--secondary-color);
	text-decoration: none;
}
a.scroll-top:hover{
	background-color: var(--primary-color);
	color:white;
}

.a-in-top{
	cursor: pointer;
}
.a-in-top:hover{
	color:white !important;
}

.scroll-top.on {
    right: 30px;
    bottom: 140px;
}

#primary-menu{
	margin-bottom: 0px;
}

.dt-mobile-header .mini-contacts {
    color: var(--secondary-color);
    text-decoration: none;
}

.mini-contacts a{
	color: var(--secondary-color);
    text-decoration: none;
}

.h2-block-title{
	margin-bottom:20px;
	font-size:1.5em;
	color: var(--secondary-color);
}