
.slider {
  position: relative;
  height: 500px;
  background: #333;
  color: white;
}


.slick-slide {
  height: 500px;
}



.slideCopy-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  transition-property: transform;
}
.slideCopy-content {
	width: 300px;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: 50px;
  /*background: white;*/
  background-color: rgba(255, 255, 255, 0.3);
  /*color: var(--primary-color);*/
  color:black;
  font-weight: bold;
  
  animation-delay: 0.4s;
  font-size: 16px;
  line-height: 24px;
  animation-delay: 2s;
  animation-name: fadeIn;
  margin-bottom: 52px;
}

.slick-prev {
  left: 20px;
  color: black;
  z-index: 1000;
}
.slick-next {
  right: 20px;
  z-index: 1000;
}


.slick-dots{}


.slick-dots li {}


.slick-dots li button::before {
  font-size: 15px;
}

@media(max-width:1024px) {

.slideCopy-content {
  position: absolute;
  top: 50%;
  left: 50%;
}
}
@media(max-width:767px) {

.slideCopy-content {
  position: absolute;
  top: 50%;
  left: 50%;
}
}